@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  width: 100%;
  background: #f9fafb;
}

/* ===== HEADER ===== */
#header {
  display: flex;
  align-items: center;
  padding: 15px 60px;
  background: #eef2ff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  font-weight: 600;
}

.logo i {
  color: #22c55e;
}

/* ===== LOGIN SECTION ===== */
/* SECTION FULL HEIGHT */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* important */
}


.login-box {
  display: flex;
  width: 800px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e5e7eb;
   align-items: center;
}

/* LEFT SIDE */
.login-image {
  width: 50%;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT SIDE */
.login-form {
  width: 50%;
  padding: 40px;
}

.login-form h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.login-form p {
  font-size: 13px;
  color: #555;
  margin-bottom: 20px;
}

/* INPUT */
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 12px;
  gap: 8px;
}

.input-group i {
  color: #22c55e;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

/* OPTIONS */
.form-options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 15px;
}

.form-options a {
  color: #22c55e;
  text-decoration: none;
}

/* BUTTON */
.login-submit-btn {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-submit-btn:hover {
  background: #16a34a;
}

/* TEXT */
.switch-text {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.switch-text a {
  color: #22c55e;
  text-decoration: none;
}

.back-home {
  text-align: center;
  font-size: 12px;
}

.back-home a {
  color: #444;
  text-decoration: none;
}